@import './components/ext-imports.scss';
@import './components/color-variables.scss';
@import './components/fonts.scss';

.body-style {
  background-color: $bright-gray;
}

.nav-typo {
  font-family: $montserrat;
  .link-props {
    color: #fff;
    font-size: $fs-regular;
    font-weight: $fw-medium;
    &:hover {
      color: #eee;
    }
  }
}

.booking-btn {
  background-color: $white;
  padding: 0.7rem 1rem;
  font-weight: $fw-medium;
  font-size: $fs-semismall;
  color: $charleston-green;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $dark-silver;
    color: $white;
  }
} 

.header-img {
  background-image: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url('../imgs/slider/header.jpg');
  height: 100vh;
  background-size: cover;
}

.intro {
  .intro-semititle {
    color: $white;
    font-size: $fs-medium;
    font-weight: $fw-medium;
    font-family: $montserrat;
  }
  .intro-title {
    color: $white;
    font-size: $fs-large;
    font-weight: $fw-semibold;
    font-family: $playfair;
  }
}

.dark-silver-props {
  background-color: $dark-silver;
  &:hover {
    background-color: $olive-drab-camo;
  }
}

.olive-drab-props {
  background-color: $olive-drab-camo;
  &:hover {
    background-color: $dark-silver;
  }
}

.intro-btn {
  font-family: $montserrat;
  color: #fff;
  font-size: $fs-semismall;
  font-weight: $fw-medium;
  text-decoration: none;
  padding: 0.5rem 2rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: #fff;
  }
}