// Generalistics
$white: #fff;
$charleston-green: #2a2a2a; 
$bright-gray: #eeeeee;
$black: #000000;
$dark-silver: #7a7266;

// Buttons
$olive-drab-camo: #5a493e;

// Page Backgrounds
$granite-gray: #6c6359