@import './subcomponents/font-weights.scss';
@import './subcomponents/font-sizes.scss';

// Playfair Display
$playfair: 'Playfair Display', serif;

// Montserrat
$montserrat: 'Montserrat', sans-serif;

// Titillium Web
$titillium: 'Titillium Web', sans-serif;
